debug
.vscode/launch.json
clover.exe
clover
bin/clover_v0.0.1a_linux_64.zip
bin/clover_v0.0.1a_OSX10_32.zip
bin/clover_v0.0.1a_linux_32.zip
bin/clover_v0.0.1a_macOS_64.zip
bin/clover_v0.0.1a_win_32.zip
bin/clover_v0.0.1a_win_64.zip
